.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    /* line-height: ; */
    background-image: linear-gradient(0, #030e27, #030e27);
    z-index: 999;
}

.header__navbar {
    display: flex;
    border-bottom: 1px solid #999;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0 0;
}

/* .header__navbar-item {
    margin: 0 8px;
} */

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 28px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgb(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #527cdb;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px 3px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* Header QR code */
.header__qr {
    width: 200px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -14px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.header__qr-link:nth-child(1) {
    margin-left: 5px;
}

.header__qr-link:nth-child(2) {
    margin-right: 5px;
}

.header__qr-download-img {
    height: 18px;
}


/* Header notification */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top; /* Chỉnh tâm trục của bảng hover */
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(3, 14, 39, 0.08); /* Khi có thông báo sẽ hiện màu tím than nhạt ở dòng thông báo */
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding-left: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
    padding-top: 6px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}


/* Authen modal */
.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center; /*Đưa 2 đối tượng về 1 hàng ngang*/
    justify-content: space-between;/* đưa 2 đối tượng cùng một hàng sang 2 bên */
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    /* color: var(--primary-color); */
    color: #fd5d14;
    cursor: pointer;
}

.auth-form__form {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none; /*loai bo khung von co cua box*/
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end; /*day sang ben phai*/
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--facebook,
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -4px 16px 0;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}


/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    background-color: var(--white-color);
}

/* Tu code menu-navbar */
.header__menu-navbar {
    /* height: 50px; */
    /* display: flex; */
}

.header__menu-navbar--site {
    list-style-type: none;
    color: var(--white-color);
}

.header__menu-navbar--text {
    margin: 20px;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--white-color);
    text-transform: uppercase;
    display: inline-block; /* Van giu lai tinh chat khoi nhung nam tren cung mot hang */
    position: relative;
}

.header__menu-navbar--text a {
    color: var(--white-color);
    text-decoration: none;
    padding: 0 15px;
    /* font-weight: 500; */
}

.header__menu-navbar--text:hover a {
    color: #939393;
}

/*------------------ Search button ------------------*/
.header__menu-navbar .search-btn {
    
}

.header__menu-navbar .search-icon {
    color: var(--white-color);
    font-size: 20px;
}


/* Thử làm menu đa cấp */
/* .header__menu-navbar .sub-nav {
    margin-top: 15px;
    position: absolute;
    padding: 0;
}

.header__menu-navbar .sub-nav li {
    list-style: none;
    padding-top: 10px;
    display: inline-block;
}

.header__menu-navbar .sub-nav a {
    display: inline-block;
} */


/* End menu đa cấp */


/* Tiếp theo là bài 58 Dựng khung tìm kiếm  */





/* Slider */
#slider {
    position: relative;
    margin-top: 120px;
    padding-top: 50%;
    background: url('../img/slider/slider1-2.jpg') top center / cover no-repeat;
    /* '/image/..' là khai báo tuyệt đối  */
    /* '../image/..' là khai báo tương đối  */
}

#slider .text-content {
    position: absolute;
    bottom: 30%;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 0;

    /* left: 50%;                Thay bằng dùng width: 100%
    transform: translate(-50%);  Ta có thể dùng 2 thuộc tính này thay cho "width: 100%"  */ 
}

#slider .text-heading {
    font-weight: 500;
    font-size: 50px;
}

#slider .text-heading a {
    color: var(--primary-color);
}

#slider .text-description {
    font-size: 1.6rem;
    padding-top: 25px;
    opacity: 0.8;
}
/* End Slider */



#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;  /* Chữ cách xa nhau ra */
    /* margin-bottom: 25px; */
}

#content .section-sub-heading {
    font-size: 12px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    font-weight: 500;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;  /* Căn đều 2 bên của 1 đoạn văn bản */
    line-height: 1.4;  /* Đối với tiếng Việt có dấu thì 1.6 */
}

#content .members-list {
    margin-top: 48px;
    /* overflow: hidden; */
}

#content .member-decs {
    width: 154px;
    margin: auto;
    background-color: #fff;
}

#content .member-comment {
    font-size: 15px;
    font-weight: 300;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}


/* ============ Infomation section ============ */
.information-section {
    background-color: rgb(242, 243, 244);
    /* background-color: ; */
}

.teckets-list {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    background-color: var(--white-color);
}


.teckets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.teckets-list .sold-out {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 3px 4px;
    margin-left: 16px;
}

.teckets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}


/* ============ Place section ============ */
.places-list {
    margin-top: 32px;
}

.places-img {
    width: 100%;
    display: block;
}

.places-img:hover {
    opacity: 0.7;
}

.places-body {
    padding: 16px;
    font-size: 15px;
    background-color: var(--white-color);
}

.places-heading {
    font-size: 15px;
    font-weight: 600;
}

.places-time {
    margin: 15px 0 0;
    color: #757575;
}

.places-desc {
    margin: 15px 0 0;
    line-height: 1.4;
}


/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info p {
    margin: 0;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
}

/* .contact-form .form-submit-btn {
    float: right;
    padding: 10px 16px;
    background-color: #000;
    color: var(--white-color);
    border: 1px solid #000;
} */

.map-section img {
    width: 100%;
}



#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: rgb(242, 243, 244);
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}